body {
  font-family: Arial, sans-serif;
  background-image: url(assets/formimg.png);
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f4f7f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 400px;
}

input, textarea, select {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0 20px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #0056b3;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #e16ba6;
}

textarea {
  resize: none;
  height: 100px;
}
